* {
  box-sizing: border-box;
}

html,
body,
h1,
h3,
h5,
h6,
ul,
ol,
li {
  padding: 0;
  margin: 0
}

ul,
li {
  list-style: none;
}

html,
body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background: #3B4465;
  color: #eee;
  min-height: 100%;
  flex-flow: column;
}

body {
  flex-flow: column;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  color: #aaa
}

footer a {
  color: #bbb
}

main {
  flex: 1;
  perspective: 1000px;
  transform-style: preserve-3d;
  flex-flow: column nowrap;
}

main>.boards,
main>nav,
main>nav>ul,
main>nav>ul>li {
  display: flex;
  justify-content: center;
  align-items: center;
}

main>nav {
  /*flex: 1 0 100%;*/
  width: 100%;
  flex-flow: column;
}

main>.boards,
main>.external {
  width: 100%;
}

main>nav>ul {
  transform: translate3d(-30px, 0, 0);
  transition: transform .4s;
}

main[data-active='signin']>nav>ul {
  transform: translate3d(-30px, 0, 0);
}

main[data-active='signup']>nav>ul {
  transform: translate3d(30px, 0, 0);
}

main>nav>ul,
main>nav>.underline {
  flex: 0 0;
  width: 100%;
  max-width: 320px;
}

main>nav>ul>li {
  flex: 1;
  cursor: pointer;
  color: #aaa;
  transition: color 1s, font-size .2s;
  /*background: rgba(255, 255, 255, 0.03);*/
  margin: 1rem;
  min-height: 3rem;
}

main[data-active='signin']>nav li[data-target='signin'],
main[data-active='signup']>nav li[data-target='signup'] {
  color: #fff;
  font-size: 1.2rem;
}

main>nav>.underline {
  flex: 0 0 4px;
  /*background: rgba(255,255,255,.7);*/
  position: relative;
  opacity: .7
}

main>nav>.underline::before,
main>nav>.underline::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  transition: transform .6s;
  background: #fff;
}

main>nav>.underline::before {
  width: 20%;
  left: 0%;
  /*background: red;*/
}

main>nav>.underline::after {
  width: 10%;
  left: 20%;
  /*background: yellow;*/
}

main[data-active='signin']>nav>.underline::before {
  transform: translateX(0%);
}

main[data-active='signin']>nav>.underline::after {
  transform: translateX(0%);
}

main[data-active='signup']>nav>.underline::before {
  transform: translateX(400%);
}

main[data-active='signup']>nav>.underline::after {
  transform: translateX(500%);
}


/* 表单动画 */

main>.boards {
  transform: translate3d(0px, 50px, -100px);
  transform-style: preserve-3d;
}

main>.boards>[class^='sign'] {
  flex: 1;
  height: 60%;
  min-height: 400px;
  /*background: hsla(0, 0%, 100%, .3);*/
}

main>.boards>[class^='sign']>.board {
  min-width: 240px;
  min-height: 360px;
}

main>.boards>.signin {
  transform: translate3d(50px, 50px, 350px);
}

main>.boards>.signup {
  transform: translate3d(-50px, 50px, 50px);
}

main[data-active$='-end']>.boards>[class^='sign'] {
  transition: none;
}

main[data-active='signup-end']>.boards>.signin {
  transform: translate3d(50px, 50px, 350px);
}

main[data-active='signup-end']>.boards>.signup {
  transform: translate3d(-50px, 50px, 50px);
}

main[data-active='signin-end']>.boards>.signin {
  transform: translate3d(50px, 50px, 50px);
}

main[data-active='signin-end']>.boards>.signup {
  transform: translate3d(-50px, 50px, 350px);
}

main[data-active='signin']>.boards>.signin {
  animation: pushBehind .4s cubic-bezier(0.36, 0, 0.64, 1) 0s 1 reverse forwards;
}

main[data-active='signin']>.boards>.signin>.board {
  animation: toLeft .4s cubic-bezier(0.36, 0, 0.64, 1) 0s 1 reverse forwards;
}

main[data-active='signin']>.boards>.signup {
  animation: pushBehind .4s cubic-bezier(0.36, 0, 0.64, 1) 0s 1 normal forwards;
}

main[data-active='signin']>.boards>.signup>.board {
  animation: toRight .4s cubic-bezier(0.36, 0, 0.64, 1) 0s 1 reverse forwards;
}

main[data-active='signup']>.boards>.signin {
  animation: pushBehind .4s cubic-bezier(0.36, 0, 0.64, 1) 0s 1 normal forwards;
}

main[data-active='signup']>.boards>.signin>.board {
  animation: toLeft .4s cubic-bezier(0.36, 0, 0.64, 1) 0s 1 normal forwards;
}

main[data-active='signup']>.boards>.signup {
  animation: pushBehind .4s cubic-bezier(0.36, 0, 0.64, 1) 0s 1 reverse forwards;
}

main[data-active='signup']>.boards>.signup>.board {
  animation: toRight .4s cubic-bezier(0.36, 0, 0.64, 1) 0s 1 normal forwards;
}

@keyframes pushBehind {
  from {
    transform: translate3d(0px, 50px, 350px)
  }
  to {
    transform: translate3d(0px, 50px, 50px)
  }
}

@keyframes toLeft {
  from,
  to {
    transform: translate3d(50px, 0px, 0px) scaleX(1)
  }
  50% {
    transform: translate3d(0px, 0px, 0px) scaleX(1.1)
  }
}

@keyframes toRight {
  from,
  to {
    transform: translate3d(-50px, 0px, 0px) scaleX(1)
  }
  50% {
    transform: translate3d(0px, 0px, 0px) scaleX(1.1)
  }
}

.form {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, .5);
  border-radius: .1rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  position: relative;
  transition: background .6s;
}

.form input,
.form button {
  display: block;
  padding: .5rem 1rem;
  outline: none;
  min-width: 100%;
  margin: .5rem 0
}

.form input {
  background: transparent;
  border: none;
  border-bottom: thin solid lightblue;
}

.form button {
  cursor: pointer;
  text-transform: uppercase;
  color: navy;
  border: none;
  background: #333;
  color: #ded;
  border-radius: .3rem;
}


/* 信息提示 */

.form .alert-tip {
  font-size: .8rem;
  color: red;
  padding: .1rem .8rem;
  display: block;
  border-radius: .1rem;
  transition: background .5s, color .5s;
  text-align: center
}

.form .alert-tip.fail {
  background: #fcc;
  color: red
}

.form .alert-tip.pass {
  background: #cfc;
  color: green
}


/* 隐藏后边的表单 */

main>.boards [class^='sign'] .form>* {
  opacity: 1;
  transition: opacity .6s
}

main>.boards [class^='sign'] .form::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .0);
  cursor: pointer;
  display: none;
}

main[data-active='signup']>.boards .signin .form,
main[data-active='signin']>.boards .signup .form {
  background: rgba(235, 255, 235, 1)
}

main[data-active='signup']>.boards .signin .form::after,
main[data-active='signin']>.boards .signup .form::after {
  display: block;
}

main[data-active='signup']>.boards .signin .form>*,
main[data-active='signin']>.boards .signup .form>* {
  opacity: 0;
}


/* 手机端调整 */

@media screen and ( max-width:600px) {
  main>.boards {
    transform: translateZ(-300px);
  }
  main>.boards>.signin {
    transform: translate3d(100px, 50px, 350px);
  }
  main>.boards>.signup {
    transform: translate3d(-100px, 50px, 50px);
  }
  main[data-active$='-end']>.boards>[class^='sign'] {
    transition: none;
  }
  main[data-active='signup-end']>.boards>.signin {
    transform: translate3d(100px, 50px, 350px);
  }
  main[data-active='signup-end']>.boards>.signup {
    transform: translate3d(-100px, 50px, 50px);
  }
  main[data-active='signin-end']>.boards>.signin {
    transform: translate3d(100px, 50px, 50px);
  }
  main[data-active='signin-end']>.boards>.signup {
    transform: translate3d(-100px, 50px, 350px);
  }
  @keyframes toLeft {
    from,
    to {
      transform: translate3d(100px, 0px, 0px) scaleX(1)
    }
    50% {
      transform: translate3d(0px, 0px, 0px) scaleX(1.1)
    }
  }
  @keyframes toRight {
    from,
    to {
      transform: translate3d(-100px, 0px, 0px) scaleX(1)
    }
    50% {
      transform: translate3d(0px, 0px, 0px) scaleX(1.1)
    }
  }
}

.forget-panel {
  transform-origin: center center 150px;
  transform: translate3d(0px, -300px, -150px) rotateX(0deg);
  /*background: rgba(235, 255, 235, .6);*/
  transform-style: preserve-3d;
  max-width: 300px;
  transition: transform .4s;
}

.forget-panel>.board {
  transform: translate3d(0, 0, -10px) rotateX(-180deg);
  min-height: 10rem;
  background: rgba(255, 255, 255, 1);
  border-radius: .2rem;
  transform-style: preserve-3d;
  transition: transform .4s;
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, .5);
}

.forget-panel.show {
  transform: translateY(-300px) rotateX(-180deg);
}

.forget-panel.show>.board {
  /*transform: translate3d(0, 0px, -10px) rotateX(-180deg);*/
}


/* 忘记密码 */

.forget {
  font-size: .6rem;
  color: #3B4465;
  padding: .1rem .8rem;
  display: block;
  border-radius: .1rem;
  text-align: center;
  cursor: pointer
}