* {
  box-sizing: border-box;
}

html,
body,
h1,
h3,
h5,
h6,
ul,
ol,
li {
  padding: 0;
  margin: 0
}

body {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-flow: column;
}

main>.bq {
  margin: 1rem;
  padding: 1rem;
  border: thin solid rgba(37, 174, 241, .35);
  /*background: rgba(37, 174, 241, .35);*/
  border-radius: .5rem;
  min-height: 400px;
}

.btn {
  border-radius: 1.3rem / 50%;
  background: #25aef1;
  color: #fff;
  padding: .6rem 1.2rem;
  box-shadow: 0 5px 15px rgba(37, 174, 241, .35);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  transition: all .3s;
}

button {
  border: none;
}

a {
  text-decoration: none;
}


/* img */

.img_wrapper {
  margin: 70px;
  max-width: 400px;
  max-height: 300px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 22px 62px 0 rgba(0, 0, 0, .25)
}

.img img {
  max-width: 100%;
  background: linear-gradient(yellowgreen, yellow)
}

.img_wrapper .img,
.img_wrapper .img img {
  transition: transform .3s;
  transform: translateY(0px);
}

.img_wrapper:hover .img {
  /*transform: translateY(calc(-100% + 300px));*/
  transform: translateY(-100%)
}

.img_wrapper:hover .img img {
  transform: translateY(300px)
}