* {
  box-sizing: border-box;
}

html,
body,
h1,
h3,
h5,
h6,
ul,
ol,
li {
  padding: 0;
  margin: 0
}

html {
  min-height: 100%;
}

html,
body {
  display: flex;
  flex: 1 0 100%;
  flex-flow: column;
}

main {
  flex: 1;
  display: flex;
  background: gray;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.book {
  width: 268px;
  height: 100px;
  background: rgb(240,235,240);;
  border-radius: .5em;
  position: relative;
  perspective: 400px;
  cursor: pointer;
  margin: 3em 0;
  transition: transform .4s, margin .5s;
}

.book [class^='flip'] {
  /*border: thin solid #ccc;*/
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  border-radius: 0 .5em .5em 0;
  background: rgba(240,235,240,.8);
  /*transition: transform .4s;*/
  transform-origin: left;
  transform: rotateY(0deg);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.book [class^='flip'].active{
  animation: flipPage .49s linear 0s 1 normal backwards running;
  /*animation-play-state: running;*/
}

@keyframes flipPage {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

.control{
  text-align: center;
}


main.demo{
  perspective: 1000px;
}

main.demo .book{
  perspective: 1000px;
  margin-top:10em;
  transform: rotateX(40deg);
  transform-style: preserve-3d;
}

main.demo .book .flip:nth-child(1){
  transform: translateZ(0px)
}
main.demo .book .flip:nth-child(2){
  transform: translateZ(3px)
}
main.demo .book .flip:nth-child(3){
  transform: translateZ(6px)
}
main.demo .book .flip:nth-child(4){
  transform: translateZ(9px)
}
main.demo .book .flip:nth-child(5){
  transform: translateZ(12px)
}
main.demo .book .flip:nth-child(6){
  transform: translateZ(15px)
}
main.demo .book .flip:nth-child(7){
  transform: translateZ(18px)
}
main.demo .book .flip:nth-child(8){
  transform: translateZ(21px)
}
main.demo .book .flip:nth-child(9){
  transform: translateZ(24px)
}
main.demo .book .flip:nth-child(10){
  transform: translateZ(27px)
}


blockquote{
  background: lightgray;
  padding: .8em;
  border-radius: 2px
}
