*{
  box-sizing: border-box;
}
html,
body,
h1,h3,h5,h6,
ul,ol,li {
  padding: 0;
  margin: 0
}

main{
  display: flex;
  /*flex-direction:column;*/
}

ul{
  display: flex;
  flex-wrap:wrap;
  /*flex-flow:column wrap;*/
  padding:.5em;
  background: paleturquoise;
}
ul::before{
  content:'ul'
}

ul li {
  flex-basis: 30vw;
  border:thin solid aquamarine;
  background: greenyellow;
  min-height: 80px;
}

.hi{
    color: blue;
    border: 1px solid;
  }
  .error{
    color: red;
  }